            <md-toolbar style="position: fixed !important;">
                <div class="md-toolbar-tools">
                    <!--<md-button><i back-button class="material-icons">keyboard_arrow_left</i></md-button>-->
                    <h2><span>Doutor Sofá - Agendados</span></h2>
                </div>
            </md-toolbar>

            <div style="background-color: rgb(255, 194, 0); height: 100% !important; min-height: 100% !important;">
                <div style="padding: 40px"></div>
                    <div class="layout-column flex-xs flex-gt-xs-50" style="padding: 0px 0px 65px 0px !important; background-color: rgb(255, 194, 0);">    
                        <md-card class="_md noright" ng-repeat="servico in servicos" ng-click="">                     
                        <md-card-header style="background-color: rgba(51, 51, 51, 0.04);">
                          <md-card-avatar>
                          <i class="material-icons" style="background-color: #cacaca; color: #222; padding: 5px; border-radius: 5px;">alarm_on</i>                      
                          </md-card-avatar>
                          <md-card-header-text>
                            <span class="md-title">Limpeza de sofá completa {{ servico.status }}</span>
                            <span class="md-subhead">{{ servico.dados.data | date:'dd/MM/yyyy' }} {{ servico.dados.horario ? 'às '+servico.dados.horario : 'Sem horário marcado'}}</span>
                          </md-card-header-text>
                        </md-card-header>
                        <img ng-src="../images/logomarcaDoutorSofa.png" class="md-card-image" alt="Doutor Sofá" src="../images/logomarcaDoutorSofa.png">
                        <md-card-title style="background-color: rgba(255, 194, 0, 0.13);">
                          <md-card-title-text>
                            <span class="md-headline">{{ servico.dados.nome ? servico.dados.nome : 'Nome não preenchido'}}</span>
                            <span class="md-subhead">{{ servico.dados.endereco ? servico.dados.endereco : 'Endereço não preenchido'}}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                          <md-card-icon-actions>
                            <md-button ng-click="showAdvanced($event,servico.id)" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">mode_edit</i> 
                            </md-button>
                            <md-button ng-click="finalizar(servico.id)" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">check</i>
                            </md-button>
                            <md-button ng-click="deletarVistoria(servico.id)" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">close</i>
                            </md-button>
                          </md-card-icon-actions>
                          <button ng-click="row.booleanVal = !row.booleanVal" class="md-icon-button md-button md-ink-ripple" type="button">
                          <i class="material-icons">keyboard_arrow_down</i>
                          </button>
                        </md-card-actions>
                        <md-card-content ng-show="row.booleanVal" style="background-color: rgba(51, 51, 51, 0.04);">
                          <p>
                            <strong>Observações do serviço</strong>
                          </p>
                          <div class="itensServico">
                            <div style="padding: 10px"></div>
                            {{ servico.dados.servico ? servico.dados.servico : 'Nenhuma informação do serviço adicionado'}}
                          </div>
                        </md-card-content>
                      </md-card>        
                    </div>
                </div>

 
            <!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event, -1)" style="background-color: #1364b4; position: fixed !important;">
                    <i class="material-icons">add</i>
            </md-button>-->

            <div class="lock-size" layout="row" layout-align="end end">
              <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" style="position: fixed; z-index: 999 !important; top: 57%;">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn" style="background-color: #333;">
                    <md-icon md-svg-src="img/icons/menu.svg" style="color: #ffd347;"></md-icon>
                  </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                  <md-button ng-click="showAdvanced($event, -1)" aria-label="AddServico" class="md-fab md-raised md-mini">
                    <i class="material-icons" aria-label="AddServico" style="color: #333;">add</i>
                  </md-button>
                  <md-button ng-click="filtrarResultados('cancelados')" aria-label="Facebook" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">do_not_disturb</i>
                  </md-button>
                  <md-button ng-click="filtrarResultados('realizados')" aria-label="Facebook" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">check_box</i>
                  </md-button>
                  <md-button ng-click="filtrarResultados('home')" aria-label="Google Hangout" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">remove_red_eye</i>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>



            <script type="text/ng-template" id="formulario-vistoria.tmpl.html">
            <md-dialog class="fullscreen-dialog" aria-label="Form">
            <md-toolbar>
            <div class="md-toolbar-tools">
                    <md-button><i ng-click="cancel()" class="material-icons">keyboard_arrow_left</i></md-button>
              <h2 flex="flex">Adicionar serviço</h2>
            </div>
            </md-toolbar>
            <md-content layout-padding="">
            <div>
              <form id="itemForm" name="itemForm">

                <input type="hidden" name="EdicaoID" ng-model="item.EdicaoID" />
 
                <!--<style>
                    md-input-container:not(.md-input-invalid).md-input-focused .md-input {
                        border-color: rgb(255, 194, 0) !important;
                    }                
                    label {
                        color: #333 !important;
                    }
                </style>-->
                <!-- FORMULÁRIO Dr. Sofá. -->

                <md-input-container style="width: 100% !important;">
                <label>Data</label>
                    <md-datepicker ng-model="item.data" md-placeholder="Insira uma data"></md-datepicker>                    
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="" required>
                <label>Endereço</label>
                <input ng-model="item.endereco" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="" required>
                <label>Horário</label>
                <input ng-model="item.horario" />
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="" required>
                <label>Nome do cliente</label>
                <input ng-model="item.nome" />
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="" required>
                <label>Telefone do cliente</label>
                <input ng-model="item.telefone" />
                </md-input-container>

                <md-input-container class="md-block" required>
                  <label>Serviço</label>
                  <textarea ng-model="item.servico" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="" required>
                <label>Preço</label>
                <input ng-model="item.preco" />
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="" required>
                    <label>Tipo do pagamento</label>
                    <md-select ng-model="item.tipoPag">
                      <md-option value="1">Dinheiro</md-option>
                      <md-option value="2">Cartão de crédiyo</md-option>
                      <md-option value="3">Cartão de débito</md-option>
                      <md-option value="4">Cheque</md-option>
                    </md-select>
                </md-input-container>

                <!--<button camera ng-model='myPicture'>Tire fotos</button>-->
                <!--<md-button camera ng-model="myPicture" class="md-raised md-primary">Adicionar Fotos</md-button>-->
                <md-button style="width: 95% !important;" ng-click="takePicture()" ng-model="myPicture" class="md-raised md-primary">Adicionar Fotos</md-button>
                <br/>

                <!--<img ng-repeat="onepic in myPictures" ng-cloak style="width:25%;height:20%;" id="smallImage" src="{{ ('data:image/jpeg;base64,'+onepic) }}" /> -->
                <br />
                <br />
                <br /> 
                <div ng-cloak id="smallImage" ng-repeat="onepic in myPictures">
                    <img src="{{ ('data:image/jpeg;base64,'+onepic) }}"/>
                    <!--<md-button style="width: 100% !important;" ng-click="" class="md-primary"> Deletar </md-button>-->
                </div>

              </form>
            </div>
            <md-dialog-actions layout="row">
              <span flex></span> 
              <md-button style="width: 50% !important;" ng-click="cancel()"> Cancelar </md-button>
              <md-button style="width: 50% !important;" ng-click="addItem(itemForm)" class="md-primary"> Adicionar </md-button>
            </md-dialog-actions>
            </md-content>

            </md-dialog>
            </script>
