            <md-toolbar style="position: fixed !important;">
                <div class="md-toolbar-tools">
                    <!--<md-button><i back-button class="material-icons">keyboard_arrow_left</i></md-button>-->
                    <h2><span>Doutor Sofá <span style="color: white;">-</span> {{titulo}}</span></h2>
                </div>
            </md-toolbar>

<!--<md-toolbar >
    <md-menu-bar>
        <md-menu>
            <button ng-click="$mdOpenMenu($event)" aria-label="Open sample menu">open first</button>
            <md-menu-content width="6" id="messages">
                <md-menu-item md-menu-origin md-menu-align-target>
                    <md-button ng-click="doSomething()">Test 1</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</md-toolbar>-->

            <div style="background-color: rgb(255, 194, 0);">


                <div style="padding: 40px"></div>
<!--            <md-subheader class="md-no-sticky">Lista de serviços</md-subheader>
            <div style="padding: 0px 20px">
            <h3 class="md-display-1" class="md-no-sticky" style="margin-bottom: 0px;">Hoje <small style="font-size: small !important;">( 07/06/2017 )</small></h3>
            <span class="md-body-1" style="font-size: 13px; opacity: .75;">Serviços agendados: <strong>3</strong></span><br>
            <span class="md-body-1" style="font-size: 13px; opacity: .75;">Faturamento agendado: <strong>R$ 1.800,00</strong></span>
            </div> 
            <div style="padding: 20px;"></div>
-->
            <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50" style="padding: 0px 0px 65px 0px !important;">
              <md-card class="_md noright" ng-repeat="servico in servicos" ng-click="">
                <md-card-header style="background-color: rgba(51, 51, 51, 0.04);">
                  <md-card-avatar>
                    <!--<md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg" role="img" aria-label="img/icons/menu.svg">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path d="M0 0h18v18h-18z" fill="none"></path>
                        <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                      </svg>
                    </md-icon>-->
                  <i class="material-icons" style="background-color: #cacaca; color: #222; padding: 5px; border-radius: 5px;">check_box</i>                      
                  </md-card-avatar>
                  <md-card-header-text>
                    <span class="md-title">Limpeza de sofá completa</span>
                    <span class="md-subhead">09:00 de 07/06/2017</span>
                  </md-card-header-text>
                </md-card-header>
                <img ng-src="../images/logomarcaDoutorSofa.png" class="md-card-image" alt="Doutor Sofá" src="../images/logomarcaDoutorSofa.png">
                <md-card-title style="background-color: rgba(255, 194, 0, 0.13);">
                  <md-card-title-text>
                    <span class="md-headline">Ivan Amato</span>
                    <span class="md-subhead">Rua Blumenau, 286, Centro, Joinville - SC.</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                  <md-card-icon-actions>
                    <button class="md-icon-button md-button md-ink-ripple" type="button">
                    <i class="material-icons">place</i>
                    </button>
                  </md-card-icon-actions>
                  <button ng-click="row.booleanVal = !row.booleanVal" class="md-icon-button md-button md-ink-ripple" type="button">
                  <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                </md-card-actions>
                <md-card-content ng-show="row.booleanVal" style="background-color: rgba(51, 51, 51, 0.04);">
                  <p>
                    Observações do serviço
                  </p>
                  <div class="itensServico">
                    <div style="padding: 10px"></div>
                    <table style="width: 100%; font-size: 12px;">
                      <tr>
                        <td>Limpeza Sofá 3 lugares</td>
                        <td>R$ 100,00</td>
                      </tr>
                      <tr>
                        <td>Limpeza Sofá 2 lugares</td>
                        <td>R$ 80,00</td>
                      </tr>
                    </table>
                  </div>
                </md-card-content>
              </md-card>
            </div>
        </div>


            <!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event, -1)" style="background-color: #1364b4; position: fixed !important;">
                    <i class="material-icons">add</i>
            </md-button>-->

            <div class="lock-size" layout="row" layout-align="end end">
              <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" style="position: fixed; z-index: 999 !important; top: 57%;">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn" style="background-color: #333;">
                    <md-icon md-svg-src="img/icons/menu.svg" style="color: #ffd347;"></md-icon>
                  </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                  <md-button ng-click="showAdvanced($event, -1)" aria-label="Twitter" class="md-fab md-raised md-mini">
                    <i class="material-icons" aria-label="Twitter" style="color: #333;">add</i>
                  </md-button>
                  <md-button ng-click="go('/cancelados')" aria-label="Facebook" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">do_not_disturb</i>
                  </md-button>
                  <md-button ng-click="go('/realizados')" aria-label="Facebook" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">check_box</i>
                  </md-button>
                  <md-button ng-click="go('/home')" aria-label="Google Hangout" class="md-fab md-raised md-mini">
                    <i class="material-icons" style="color: #333;">remove_red_eye</i>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
