            <md-toolbar style="position: fixed !important;">
                <div class="md-toolbar-tools">
                    <!--<md-button><i back-button class="material-icons">keyboard_arrow_left</i></md-button>-->
                    <h2><span>Doutor Sofá</span></h2>
 
                    <md-menu md-position-mode="target-right target">
                      <md-button ng-click="$mdOpenMenu()" class="md-icon-button" aria-label="Abrir o menu">
                        <i class="material-icons" style="color: #999;">menu</i>
                      </md-button>
                      <md-menu-content width="4" > 
                        <md-menu-item ng-repeat="item in itensMenu">
                          <md-button ng-click="abrirPagina(item.href)">
                              <div layout="row" flex>
                                <p flex>{{item.nome}}</p>
                                <i class="material-icons">{{item.icone}}</i>
                              </div>
                          </md-button>
                        </md-menu-item> 
                      </md-menu-content> 
                    </md-menu> 
                  
                </div>
            </md-toolbar>

            <style>
            md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
                position: fixed !important;
                bottom: 0 !important;
                width: 100% !important;
                height: 70px !important;
            }
            </style>

            <div style="background-color: rgb(255, 194, 0); height: 100% !important; min-height: 100% !important;">
                <div style="padding: 40px"></div>
                    <div class="layout-column flex-xs flex-gt-xs-50" style="padding: 0px 0px 65px 0px !important; background-color: rgb(255, 194, 0);">
                        <h4 ng-show="angularEquals(servicos,{})" style="margin-left: 10px;">Nenhum serviço encontrado.</h4>
                        <md-card class="_md noright" ng-repeat="servico in servicos | filter: { status: filtroTempoReal }" >                     
                        <md-card-header ng-class="{servicoAndamento: servico.status == 0, servicoTerminado: servico.status != 0}" style="">
                          <md-card-avatar> 
                          <i class="material-icons" style="background-color: #cacaca; color: #222; padding: 5px; border-radius: 5px;">alarm_on</i>                      
                          </md-card-avatar>
                          <md-card-header-text>
                            <span class="md-title">Limpeza de sofá completa</span>
                            <span class="md-subhead">{{ servico.data | date:'dd/MM/yyyy' }} {{ servico.horario ? 'às '+servico.horario : 'Sem horário marcado'}}</span>
                          </md-card-header-text>
                        </md-card-header>
                        <md-card-title style="background-color: rgba(255, 194, 0, 0.13);">
                          <md-card-title-text>
                            <span class="md-headline">{{ servico.nome ? servico.nome : 'Nome não preenchido'}}</span>
                            <span class="md-subhead">{{ servico.endereco ? servico.endereco : 'Endereço não preenchido'}}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
                          <md-card-icon-actions>
                            <md-button ng-click="showAdvanced($event,servico.id)" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">mode_edit</i>  
                            </md-button>
                            <md-button ng-show="servico.status == 0" ng-click="mudaStatus($event, servico);" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">check</i>
                            </md-button>
                            <md-button ng-show="servico.status != 0" ng-click="deletarServico($event, servico)" class="md-icon-button md-button md-ink-ripple"  type="button">
                                <i class="material-icons">close</i>
                            </md-button>
                          </md-card-icon-actions>
                          <button ng-click="row.booleanVal = !row.booleanVal" class="md-icon-button md-button md-ink-ripple" type="button">
                          <i class="material-icons">keyboard_arrow_down</i>
                          </button>
                        </md-card-actions>
                        <md-card-content ng-show="row.booleanVal" style="background-color: rgba(51, 51, 51, 0.04);">
                          <p>
                            <strong>Observações do serviço</strong>
                          </p>
                          <div class="itensServico">
                            <div style="padding: 10px"></div>
                            {{ servico.servico ? servico.servico : 'Nenhuma informação do serviço adicionado'}}
                          </div>
                        </md-card-content>
                      </md-card>    
                        
                    <div class="lock-size" layout="row" layout-align="end end" style="position: fixed !important;right: 0 !important;bottom: 0 !important;">
                      <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">
                        <md-fab-trigger>
                          <md-button aria-label="menu" class="md-fab md-warn" style="background-color: #333;">
                            <md-icon md-svg-src="img/icons/menu.svg" style="color: #ffd347;"></md-icon>
                          </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                          <md-button ng-click="showAdvanced($event, -1)" aria-label="AddServico" class="md-fab md-raised md-mini">
                            <i class="material-icons" aria-label="AddServico" style="color: #333;">add</i>
                          </md-button>
                          <!--<md-button ng-click="filtrarResultados('cancelados')" aria-label="Facebook" class="md-fab md-raised md-mini">
                            <i class="material-icons" style="color: #333;">do_not_disturb</i>
                          </md-button>-->
                          <md-button ng-click="modificaFiltro(1);" aria-label="Facebook" class="md-fab md-raised md-mini">
                            <i class="material-icons" style="color: #333;">check_box</i>
                          </md-button>
                          <md-button ng-click="modificaFiltro(0);" aria-label="Google Hangout" class="md-fab md-raised md-mini">
                            <i class="material-icons" style="color: #333;">remove_red_eye</i>
                          </md-button>
                        </md-fab-actions>
                      </md-fab-speed-dial>
                    </div>                               
                        
                    </div>         
                </div>

 
            <!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event, -1)" style="background-color: #1364b4; position: fixed !important;">
                    <i class="material-icons">add</i>
            </md-button>-->

            <script type="text/ng-template" id="formulario-servico.tmpl.html">
            <md-dialog class="fullscreen-dialog" aria-label="Form">
            <md-toolbar>
            <div class="md-toolbar-tools">
                    <md-button><i ng-click="cancel()" class="material-icons" style="color: #999 !important;">keyboard_arrow_left</i></md-button>
              <h2 flex="flex">Adicionar serviço</h2>
            </div>
            </md-toolbar>
            <md-content layout-padding="">
            <div>
              <form id="itemForm" name="itemForm">

                <input type="hidden" name="EdicaoID" ng-model="item.EdicaoID" />
 
                <!--<style>
                    md-input-container:not(.md-input-invalid).md-input-focused .md-input {
                        border-color: rgb(255, 194, 0) !important;
                    }                
                    label {
                        color: #333 !important;
                    } 
                </style>-->
                <!-- FORMULÁRIO Dr. Sofá. -->

                <md-input-container style="width: 100% !important;">
                <label>Data</label>
                    <md-datepicker ng-model="item.data" md-placeholder="Insira uma data" ng-required="required" ng-change="atualizaHorarios(item.data)"></md-datepicker>                    
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Selecione um horário</label>
                    <md-select ng-model="item.horario">
                      <md-option ng-value="horario.horario" ng-repeat="horario in resultado">{{horario.label}}</md-option>
                    </md-select>                    
                    <!--<select ng-options="item as item.label disable when item.disabled for item in items" ng-model="selected"></select>-->
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Tipo de serviço</label>
                    <md-select ng-model="item.tipoServico" ng-required="required">
                      <md-option value="1">Estofado(s)</md-option>
                      <md-option value="2">Tapete(s)</md-option>
                      <md-option value="3">Colchão</md-option>
                      <md-option value="4">Outro(s)</md-option>
                    </md-select>
                </md-input-container>                  
                  
                <md-input-container class="md-block" flex-gt-sm="">
                <label>Endereço</label>
                <input ng-model="item.endereco" />
                </md-input-container>

                <!--<md-input-container class="md-block" flex-gt-sm="">
                <label>Horário</label>
                <input ng-model="item.horario" />
                </md-input-container>-->
                  
                <md-input-container class="md-block" flex-gt-sm="">
                <label>Nome do cliente</label>
                <input ng-model="item.nome" />
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="">
                <label>Telefone do cliente</label>
                <input ng-model="item.telefone" />
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Serviço</label>
                  <textarea ng-model="item.servico" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                </md-input-container>
                  
                <md-input-container class="md-block" flex-gt-sm="">
                <label>Preço</label>
                <br />
                {{item.preco | currency: 'R$'}}
                <br />
                <input ng-model="item.preco" />
                <!--<input type="text" ng-model="item.preco" value="{{item.preco | currency:'R$'}}" />-->
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Tipo do pagamento</label>
                    <md-select ng-model="item.tipoPagamento">
                      <md-option value="1">Dinheiro</md-option>
                      <md-option value="2">Cartão de crédito</md-option>
                      <md-option value="3">Cartão de débito</md-option>
                      <md-option value="4">Cheque</md-option>
                    </md-select>
                </md-input-container>

                <!--<button camera ng-model='myPicture'>Tire fotos</button>-->
                <!--<md-button camera ng-model="myPicture" class="md-raised md-primary">Adicionar Fotos</md-button>-->
                <md-button ng-show="!edicao" style="width: 95% !important;" ng-click="takePicture()" ng-model="myPicture" class="md-raised md-primary">Adicionar Fotos</md-button>
                <br/>

                <img ng-show="!edicao" ng-repeat="onepic in myPictures" ng-cloak style="width:25%;height:20%;" id="smallImage" src="{{ ('data:image/jpeg;base64,'+onepic) }}" /> 
                  
                <md-list ng-show="edicao">
                    <md-list-item ng-repeat="person in myPictures" class="noright">
                        <img alt="{{ person.nome }}" ng-src="{{ person.link }}" class="md-avatar" />
                        <p>{{ person.nome }}</p>
                        <!--<i class="material-icons">close</i>-->
                    </md-list-item>
                </md-list>
                  
                <br />
                <br />
                <br /> 
                <!--<div ng-cloak id="smallImage" ng-repeat="onepic in myPictures">
                    <img ng-if="onepic == false" src="{{ ('data:image/jpeg;base64,'+onepic) }}"/>
                </div>-->

              </form>
            </div>
            <md-dialog-actions layout="row">
              <span flex></span> 
              <md-button style="width: 50% !important;" ng-click="cancel()"> Cancelar </md-button>
              <md-button style="width: 50% !important; color: #333 !important;" ng-click="addItem(itemForm)" class="md-primary"> Adicionar </md-button>
            </md-dialog-actions>
            </md-content>

            </md-dialog>
            </script>
